.resource-card {
    height: auto;
    border-radius: 4px;
    background-color: #b2d7e4;
    margin: 20px;
    padding: 20px;
    transition: .3s;
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.6);
}

.resource-card:hover {
    background-color: rgb(142, 188, 226);
    color: #fff;
}

.resource-card:hover .line {
    background-color: #fff;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
}


.resource-card h3 {
    margin: 0;
    font-size: 1.5
}