.search-bar {
    display: flex;
    height: 20px;
    width: 100%;
    text-align: start;
    font-size: 15px;
    font-weight: bold;
    padding: 2px;
    box-sizing: content-box;
    box-shadow: 2px;
    border-radius: 15px;
}

.search-bar:hover {
    background-color: rgb(217, 254, 254);
}